* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto Slab', serif;
}
body {
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  background-image: url(CriarConta/imagens/photo-1532938911079-1b06ac7ceec7);
}
